#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// 1. User preferences (e.g., Colemak, Nav cluster changes)
#include "../miryoku/custom_config.h"

// 2. Physical Layout Mapping (The Skeletyl shares the exact 3x5+3 matrix as a Minidox)
#include "../miryoku/mapping/36/minidox.h"

// 3. The Miryoku Core Engine
#include "../miryoku/miryoku.dtsi"
